workflows/n8n_reset_k8s_flow.json
{
  "id": "k8sRSTflow00001",
  "name": "Reset_K8s_Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "k8s-reset",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "reset-webhook",
      "name": "Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        380
      ],
      "webhookId": "k8s-reset"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        200
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://qdrant:6333/collections/k8s",
        "options": {
          "timeout": 10000
        }
      },
      "id": "delete-collection",
      "name": "Delete Qdrant Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/k8s",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"vectors\": { \"size\": 768, \"distance\": \"Cosine\" }, \"optimizers_config\": { \"default_segment_number\": 2 }, \"replication_factor\": 1 }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "recreate-collection",
      "name": "Recreate Qdrant Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        620,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://k8s-watcher:8080/resync",
        "options": {
          "timeout": 15000
        }
      },
      "id": "trigger-resync",
      "name": "Trigger Resync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        840,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const ts = new Date().toISOString();\nconst resyncResult = $('Trigger Resync').first().json;\nreturn [{ json: {\n  status: 'ok',\n  message: 'Qdrant collection cleared and k8s-watcher resync triggered. Vector database will repopulate within ~30 seconds.',\n  reset_at: ts,\n  resync_response: resyncResult?.status || 'triggered'\n} }];"
      },
      "id": "format-reset-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Delete Qdrant Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Webhook": {
      "main": [
        [
          {
            "node": "Delete Qdrant Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Qdrant Collection": {
      "main": [
        [
          {
            "node": "Recreate Qdrant Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recreate Qdrant Collection": {
      "main": [
        [
          {
            "node": "Trigger Resync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Resync": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
