workflows/n8n_ai_k8s_flow.json
{
  "name": "AI_K8s_Flow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [180, 300],
      "webhookId": "k8s-ai-chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nomic-embed-text', input: $json.chatInput }) }}",
        "options": {}
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/k8s/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.embeddings[0], limit: 30, with_payload: true, score_threshold: 0.3 }) }}",
        "options": {}
      },
      "id": "qdrant-search",
      "name": "Qdrant Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [620, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $json.result || [];\nconst query = $('Chat Trigger').first().json.chatInput;\n\nconst SYSTEM_PROMPT = `You are an expert Kubernetes AI assistant integrated with a RAG system.\n\nRules:\n- ONLY answer based on the retrieved context provided. Never hallucinate cluster state.\n- If context is empty or irrelevant, respond exactly: \"No indexed Kubernetes resources found in vector database.\"\n- Use markdown tables for structured/aggregated data.\n- Do not expose internal resource_uid values.\n- Be concise and technical.`;\n\nlet userMessage;\nif (results.length === 0) {\n  userMessage = `No resources were retrieved from the vector database.\\n\\nUser question: ${query}`;\n} else {\n  const ctx = results\n    .map((r, i) => {\n      const p = r.payload;\n      const spec = p.raw_spec_json ? p.raw_spec_json.substring(0, 300) : '{}';\n      const labels = JSON.stringify(p.labels || {});\n      return `[${i + 1}] kind=${p.kind}  name=${p.name}  namespace=${p.namespace || '(cluster-scoped)'}  labels=${labels}  score=${r.score.toFixed(3)}  spec=${spec}`;\n    })\n    .join('\\n');\n  userMessage = `Retrieved ${results.length} Kubernetes resources:\\n\\n${ctx}\\n\\nUser question: ${query}`;\n}\n\nreturn [{ json: { system_prompt: SYSTEM_PROMPT, user_message: userMessage } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen3:8b', messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: $json.user_message } ], stream: false, options: { temperature: 0.1 }, think: false }) }}",
        "options": {}
      },
      "id": "llm-chat",
      "name": "LLM Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst text = r?.message?.content || r?.response || 'No response from LLM.';\nreturn [{ json: { output: text } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "Generate Embedding", "type": "main", "index": 0 }]]
    },
    "Generate Embedding": {
      "main": [[{ "node": "Qdrant Search", "type": "main", "index": 0 }]]
    },
    "Qdrant Search": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "LLM Chat", "type": "main", "index": 0 }]]
    },
    "LLM Chat": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
