workflows/n8n_cdc_k8s_flow.json
{
  "id": "k8sCDCflow00001",
  "name": "CDC_K8s_Flow",
  "nodes": [
    {
      "parameters": {
        "topic": "k8s-resources",
        "groupId": "n8n-cdc-consumer",
        "options": {
          "allowAutoTopicCreation": false,
          "autoOffsetReset": "latest"
        }
      },
      "id": "kafka-trigger",
      "name": "Kafka Trigger",
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "credentials": {
        "kafka": {
          "id": "kafka-local",
          "name": "Kafka Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The Kafka trigger delivers the raw message string in .message\nconst raw = $input.first().json;\nlet data;\ntry {\n  data = typeof raw.message === 'string' ? JSON.parse(raw.message) : raw;\n} catch (_) {\n  data = raw;\n}\n\n// Use embed_text from watcher if present; build one otherwise\nlet embed_text = data.embed_text;\nif (!embed_text) {\n  const scope = data.namespace ? `in namespace ${data.namespace}` : 'cluster-scoped';\n  const labels = Object.entries(data.labels || {}).slice(0,5).map(([k,v])=>`${k}=${v}`).join(', ') || 'none';\n  embed_text = `Kubernetes ${data.kind} named ${data.name} ${scope}. Labels: ${labels}. Spec: ${(data.raw_spec_json||'{}').substring(0,600)}`;\n}\n\nreturn [{ json: { ...data, embed_text } }];"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/k8s/points/delete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { must: [{ key: 'metadata.resource_uid', match: { value: $('Parse Message').first().json.resource_uid } }] } }) }}",
        "options": {}
      },
      "id": "delete-vector",
      "name": "Delete Existing Vector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-delete-check",
              "leftValue": "={{ $('Parse Message').first().json.event_type }}",
              "rightValue": "DELETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-delete",
      "name": "Is Delete Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Message').first().json;\n\n// Build a compact spec summary instead of sending the entire raw_spec_json\n// This reduces per-result payload from ~5KB to ~200 bytes\nfunction buildSpecSummary(kind, rawSpec) {\n  try {\n    const spec = typeof rawSpec === 'string' ? JSON.parse(rawSpec) : (rawSpec || {});\n    const parts = [];\n    // Deployment/ReplicaSet/StatefulSet/DaemonSet\n    if (spec.replicas !== undefined) parts.push(`replicas=${spec.replicas}`);\n    // Pod containers\n    const containers = spec.containers || spec.template?.spec?.containers || [];\n    if (containers.length) {\n      parts.push(`containers=[${containers.map(c => `${c.name}:${c.image||'?'}`).join(', ')}]`);\n    }\n    // Service\n    if (spec.type && kind === 'Service') parts.push(`type=${spec.type}`);\n    if (spec.ports) parts.push(`ports=[${spec.ports.map(p => `${p.port}/${p.protocol||'TCP'}`).join(',')}]`);\n    if (spec.clusterIP) parts.push(`clusterIP=${spec.clusterIP}`);\n    // Secret\n    if (kind === 'Secret') {\n      parts.push(`type=${spec.type || 'Opaque'}`);\n      if (spec.dataKeys) parts.push(`keys=[${spec.dataKeys.join(',')}]`);\n    }\n    // PVC\n    if (spec.resources?.requests?.storage) parts.push(`storage=${spec.resources.requests.storage}`);\n    if (spec.storageClassName) parts.push(`storageClass=${spec.storageClassName}`);\n    // Status info\n    if (spec.phase) parts.push(`phase=${spec.phase}`);\n    if (spec.readyReplicas !== undefined) parts.push(`ready=${spec.readyReplicas}`);\n    if (spec.availableReplicas !== undefined) parts.push(`available=${spec.availableReplicas}`);\n    return parts.join('; ') || 'no-spec';\n  } catch (_) { return 'parse-error'; }\n}\n\nconst specSummary = buildSpecSummary(src.kind, src.raw_spec_json);\n\nreturn [{\n  json: {\n    pageContent: src.embed_text,\n    metadata: {\n      resource_uid:           src.resource_uid,\n      kind:                   src.kind,\n      api_version:            src.api_version,\n      namespace:              src.namespace,\n      name:                   src.name,\n      labels:                 JSON.stringify(src.labels || {}),\n      annotations:            JSON.stringify(src.annotations || {}),\n      spec_summary:           specSummary,\n      last_updated_timestamp: src.last_updated_timestamp\n    }\n  }\n}];"
      },
      "id": "format-document",
      "name": "Format Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        420
      ]
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "textSplittingMode": "simple",
        "options": {
          "metadata": {
            "metadataValues": [
              { "name": "resource_uid", "value": "={{ $json.metadata.resource_uid }}" },
              { "name": "kind", "value": "={{ $json.metadata.kind }}" },
              { "name": "api_version", "value": "={{ $json.metadata.api_version }}" },
              { "name": "namespace", "value": "={{ $json.metadata.namespace }}" },
              { "name": "name", "value": "={{ $json.metadata.name }}" },
              { "name": "labels", "value": "={{ $json.metadata.labels }}" },
              { "name": "annotations", "value": "={{ $json.metadata.annotations }}" },
              { "name": "spec_summary", "value": "={{ $json.metadata.spec_summary }}" },
              { "name": "last_updated_timestamp", "value": "={{ $json.metadata.last_updated_timestamp }}" }
            ]
          }
        }
      },
      "id": "default-data-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1080,
        620
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "k8s",
          "mode": "id"
        },
        "options": {
          "contentPayloadKey": "pageContent",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "insert-to-qdrant",
      "name": "Insert to Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1300,
        420
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-local",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "embeddings-ollama-cdc",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1300,
        620
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-local",
          "name": "Ollama Local"
        }
      }
    }
  ],
  "connections": {
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Delete Existing Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Vector": {
      "main": [
        [
          {
            "node": "Is Delete Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete Event?": {
      "main": [
        [],
        [
          {
            "node": "Format Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Document": {
      "main": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
