workflows/n8n_cdc_k8s_flow.json
{
  "id": "k8sCDCflow00001",
  "name": "CDC_K8s_Flow",
  "nodes": [
    {
      "parameters": {
        "topic": "k8s-resources",
        "groupId": "n8n-cdc-consumer",
        "options": {
          "allowAutoTopicCreation": false,
          "autoOffsetReset": "latest"
        }
      },
      "id": "kafka-trigger",
      "name": "Kafka Trigger",
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "credentials": {
        "kafka": {
          "id": "kafka-local",
          "name": "Kafka Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The Kafka trigger delivers the raw message string in .message\nconst raw = $input.first().json;\nlet data;\ntry {\n  data = typeof raw.message === 'string' ? JSON.parse(raw.message) : raw;\n} catch (_) {\n  data = raw;\n}\n\n// Use embed_text from watcher if present; build one otherwise\nlet embed_text = data.embed_text;\nif (!embed_text) {\n  const scope = data.namespace ? `in namespace ${data.namespace}` : 'cluster-scoped';\n  const labels = Object.entries(data.labels || {}).slice(0,5).map(([k,v])=>`${k}=${v}`).join(', ') || 'none';\n  embed_text = `Kubernetes ${data.kind} named ${data.name} ${scope}. Labels: ${labels}. Spec: ${(data.raw_spec_json||'{}').substring(0,600)}`;\n}\n\n// Validate required fields\nif (!data.resource_uid || !data.kind || !data.name) {\n  console.error(`CDC_SKIP: Missing required fields: uid=${data.resource_uid}, kind=${data.kind}, name=${data.name}`);\n  return [];\n}\n\nreturn [{ json: { ...data, embed_text } }];"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/k8s/points/delete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { must: [{ key: 'metadata.resource_uid', match: { value: $('Parse Message').first().json.resource_uid } }] } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "delete-vector",
      "name": "Delete Existing Vector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        860,
        180
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-delete-check",
              "leftValue": "={{ $('Parse Message').first().json.event_type }}",
              "rightValue": "DELETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-delete",
      "name": "Is Delete Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Message').first().json;\n\n// Build a compact spec summary instead of sending the entire raw_spec_json\n// This reduces per-result payload from ~5KB to ~200 bytes\nfunction buildSpecSummary(kind, rawSpec) {\n  try {\n    const spec = typeof rawSpec === 'string' ? JSON.parse(rawSpec) : (rawSpec || {});\n    const parts = [];\n    // Deployment/ReplicaSet/StatefulSet/DaemonSet\n    if (spec.replicas !== undefined) parts.push(`replicas=${spec.replicas}`);\n    // Pod containers\n    const containers = spec.containers || spec.template?.spec?.containers || [];\n    if (containers.length) {\n      parts.push(`containers=[${containers.map(c => `${c.name}:${c.image||'?'}`).join(', ')}]`);\n    }\n    // Service\n    if (spec.type && kind === 'Service') parts.push(`type=${spec.type}`);\n    if (spec.ports) parts.push(`ports=[${spec.ports.map(p => `${p.port}/${p.protocol||'TCP'}`).join(',')}]`);\n    if (spec.clusterIP) parts.push(`clusterIP=${spec.clusterIP}`);\n    // ConfigMap\n    if (kind === 'ConfigMap') {\n      const keys = Object.keys(spec);\n      if (keys.length) parts.push(`keys=[${keys.join(',')}]`);\n      for (const k of keys.slice(0, 3)) {\n        const v = String(spec[k] || '').substring(0, 100);\n        parts.push(`${k}=${v}${spec[k]?.length > 100 ? '...' : ''}`);\n      }\n    }\n    // Secret\n    if (kind === 'Secret') {\n      parts.push(`type=${spec.type || 'Opaque'}`);\n      if (spec.dataKeys) parts.push(`keys=[${spec.dataKeys.join(',')}]`);\n    }\n    // PVC\n    if (spec.resources?.requests?.storage) parts.push(`storage=${spec.resources.requests.storage}`);\n    if (spec.storageClassName) parts.push(`storageClass=${spec.storageClassName}`);\n    // Status info\n    if (spec.phase) parts.push(`phase=${spec.phase}`);\n    if (spec.readyReplicas !== undefined) parts.push(`ready=${spec.readyReplicas}`);\n    if (spec.availableReplicas !== undefined) parts.push(`available=${spec.availableReplicas}`);\n    return parts.join('; ') || 'no-spec';\n  } catch (_) { return 'parse-error'; }\n}\n\nconst specSummary = buildSpecSummary(src.kind, src.raw_spec_json);\n\nreturn [{\n  json: {\n    pageContent: src.embed_text,\n    metadata: {\n      resource_uid:           src.resource_uid,\n      kind:                   src.kind,\n      api_version:            src.api_version,\n      namespace:              src.namespace,\n      name:                   src.name,\n      labels:                 JSON.stringify(src.labels || {}),\n      annotations:            JSON.stringify(src.annotations || {}),\n      spec_summary:           specSummary,\n      last_updated_timestamp: src.last_updated_timestamp\n    }\n  }\n}];"
      },
      "id": "format-document",
      "name": "Format Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nomic-embed-text:latest', prompt: $json.pageContent }) }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 1000 } },
          "timeout": 30000
        }
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/k8s/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ points: [{ id: $('Format Document').first().json.metadata.resource_uid, vector: $json.embedding, payload: { pageContent: $('Format Document').first().json.pageContent, metadata: $('Format Document').first().json.metadata } }] }) }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 500 } },
          "timeout": 10000
        }
      },
      "id": "upsert-to-qdrant",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const error = item.json?.error || item.json?.message || 'Unknown error';\n  const src = $('Parse Message').first().json;\n  console.error(`CDC_ERROR: Failed to process ${src.kind || '?'}/${src.name || '?'} (uid=${src.resource_uid || '?'}): ${error}`);\n}\nreturn items;"
      },
      "id": "log-cdc-error",
      "name": "Log CDC Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        600
      ]
    }
  ],
  "connections": {
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Is Delete Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete Event?": {
      "main": [
        [
          {
            "node": "Delete Existing Vector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Document": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log CDC Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [],
        [
          {
            "node": "Log CDC Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
