workflows/n8n_qdrant_tool_flow.json
{
  "id": "k8sToolflow0001",
  "name": "K8s_Inventory_Tool_Flow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "defineBelow",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "string"
            }
          ]
        }
      },
      "id": "tool-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/k8s/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"limit\":200,\"with_payload\":{\"include\":[\"metadata\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "scroll-qdrant",
      "name": "Scroll Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const qdrantResponse = $('Scroll Qdrant').first().json;\nconst points = qdrantResponse.result?.points || [];\n\nif (points.length === 0) {\n  return [{ json: { response: 'No Kubernetes resources found in the vector database.' } }];\n}\n\n// Group by kind, then by namespace\nconst byKind = {};\nfor (const p of points) {\n  const m = p.payload?.metadata || {};\n  const kind = m.kind || '?';\n  if (!byKind[kind]) byKind[kind] = [];\n  byKind[kind].push({\n    name: m.name || '?',\n    namespace: m.namespace || 'cluster-scoped',\n    spec: m.spec_summary || '-'\n  });\n}\n\n// Build structured inventory text\nconst lines = [];\nlines.push(`CLUSTER INVENTORY — ${points.length} resources total`);\nlines.push('');\n\nfor (const [kind, items] of Object.entries(byKind).sort()) {\n  // Group by namespace within each kind\n  const byNs = {};\n  for (const item of items) {\n    if (!byNs[item.namespace]) byNs[item.namespace] = [];\n    byNs[item.namespace].push(item.name);\n  }\n  lines.push(`${kind} (${items.length} total):`);\n  for (const [ns, names] of Object.entries(byNs).sort()) {\n    lines.push(`  ${ns} (${names.length}): ${names.join(', ')}`);\n  }\n}\n\nreturn [{ json: { response: lines.join('\\n') } }];"
      },
      "id": "build-inventory",
      "name": "Build Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Scroll Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scroll Qdrant": {
      "main": [
        [
          {
            "node": "Build Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
