workflows/n8n_memory_clear_flow.json
{
  "id": "k8sMEMclear001",
  "name": "Memory_Clear_Flow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as row_count FROM n8n_chat_histories;",
        "options": {}
      },
      "id": "count-memory",
      "name": "Count Memory Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [420, 380],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Postgres Local"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories;",
        "options": {}
      },
      "id": "clear-memory",
      "name": "Clear Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [640, 380],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Postgres Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ts = new Date().toISOString();\nconst countResult = $('Count Memory Rows').first().json;\nconst rowsDeleted = parseInt(countResult?.row_count || '0', 10);\nconsole.log(`MEMORY_CLEAR: Deleted ${rowsDeleted} rows at ${ts}`);\nreturn [{ json: { status: 'ok', rows_deleted: rowsDeleted, cleared_at: ts } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 380]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Count Memory Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Count Memory Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Memory Rows": {
      "main": [
        [
          {
            "node": "Clear Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Memory": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
