workflows/n8n_ai_k8s_flow.json
{
  "id": "k8sAIflow000001",
  "name": "AI_K8s_Flow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Assad. I am k8s assistant for the kind cluster k8s-ai. How can I assist you today?",
        "options": {
          "title": "K8s AI Assistant",
          "subtitle": "Ask me anything about your Kubernetes cluster"
        }
      },
      "id": "chat-trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        180,
        300
      ],
      "webhookId": "k8s-ai-chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/k8s/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"limit\":200,\"with_payload\":{\"include\":[\"metadata\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "scroll-qdrant",
      "name": "Scroll All Resources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $('When chat message received').first().json.chatInput;\nconst qdrantResponse = $('Scroll All Resources').first().json;\nconst points = qdrantResponse.result?.points || [];\n\n// Build structured inventory grouped by kind\nconst byKind = {};\nfor (const p of points) {\n  const m = p.payload?.metadata || {};\n  const kind = m.kind || '?';\n  if (!byKind[kind]) byKind[kind] = [];\n  byKind[kind].push({ name: m.name, namespace: m.namespace || 'cluster-scoped', spec: m.spec_summary || '-' });\n}\n\n// Build compact inventory text\nlet inventory = '';\nfor (const [kind, items] of Object.entries(byKind).sort()) {\n  // Group by namespace within each kind\n  const byNs = {};\n  for (const item of items) {\n    if (!byNs[item.namespace]) byNs[item.namespace] = [];\n    byNs[item.namespace].push(item.name);\n  }\n  inventory += `\\n${kind} (${items.length} total):`;\n  for (const [ns, names] of Object.entries(byNs).sort()) {\n    inventory += `\\n  ${ns}: ${names.join(', ')}`;\n  }\n}\n\n// Enrich chatInput with inventory context\nconst enrichedInput = `[CLUSTER INVENTORY - ${points.length} resources total]\n${inventory}\n\n[USER QUESTION]\n${chatInput}`;\n\nreturn [{ json: { chatInput: enrichedInput } }];"
      },
      "id": "build-inventory",
      "name": "Build Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a Kubernetes cluster monitoring assistant.\n\n/no_think\n\nThe user's message starts with [CLUSTER INVENTORY] containing ALL resources in the cluster, followed by [USER QUESTION].\n\nRules:\n1. Answer from the CLUSTER INVENTORY data provided in the message. This is the authoritative source.\n2. For specific resource details, optionally use the kubernetes_search tool.\n3. NEVER invent or hallucinate data. Only use inventory data.\n4. Output concise markdown tables only.\n5. For counting queries: | Namespace | Count |\n6. For listing: | Kind | Name | Namespace | Details |\n7. One summary sentence max.\n8. Never expose resource_uid or secret data values.",
          "maxIterations": 2
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "model": "qwen3:14b-k8s",
        "options": {
          "temperature": 0,
          "numPredict": 2048,
          "numCtx": 32768
        }
      },
      "id": "ollama-chat-model",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        660,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-local",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "qdrantCollection": {
          "__rl": true,
          "value": "k8s",
          "mode": "id"
        },
        "toolName": "kubernetes_search",
        "toolDescription": "Semantic search of the Kubernetes cluster knowledge base. Use for detailed lookups about specific resources. Returns the most relevant resources with metadata.",
        "topK": 20,
        "includeDocumentMetadata": true,
        "options": {
          "contentPayloadKey": "pageContent",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "qdrant-vector-store",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        860,
        520
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-local",
          "name": "Qdrant Local"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "embeddings-ollama",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        860,
        720
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-local",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "k8s-ai-global",
        "tableName": "n8n_chat_histories",
        "contextWindowLength": 5
      },
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        740,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Postgres Local"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Scroll All Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scroll All Resources": {
      "main": [
        [
          {
            "node": "Build Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Inventory": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
